/* CMOA CSS
 *
 * crimson: #C7362A
 * */


/* Reset */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body, html {
  height: 100%;
}

body, ul, li, h1, h2, h3, img, p {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}


/* Layout */

html { font-size: 62.5%;  }

* {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.6rem;
}

body {
  background-color: #D9CB9E;
  border-top: 5px solid #444;
}

.container {
  margin: 0 auto;
  width: 1200px;

  /* Prevent native touch events on Windows */
  -ms-touch-action: none;

  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#game {
  display: none;
}

/* Loading */
/* --------------------------*/
.loading {
  animation: spin 2s infinite linear;
  background: #fff;
  border: 10px solid transparent;
  border-bottom-color: #374140;
  border-top-color: #374140;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #DC3522;
  height: 200px;
  margin: 0 auto;
  margin-top: 250px;
  position: relative;
  width: 200px;
}

.loading__inner {
  animation: reverse-spin 2s infinite linear;
  display: table-cell;
  height: 180px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 180px;
}

.loading__inner span {
  font-size: 2.0rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes reverse-spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}
/* --------------------------*/

.main-header {
  position: absolute;
  left: 15px; top: 15px;
}

.main-header__name {
  display: inline-block;
  font-size: 2.0rem;
  font-weight: bold;
  margin-right: 30px;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.5);
  text-transform: uppercase;
}

.main-header__quote {
  font-size: 2.0rem;
}

.main-content {
  margin-top: 100px;
}

.main-content > div {
  float: left;
  width: 33%;
}

.player-area {
  background: #fff;
  border: 5px solid #DC3522;
  min-height: 570px;
  padding: 15px;
}

.player-area h2 {
  margin-bottom: 20px;
}

.player-area__score {
  float: right;
}

.player-area__score__total {
  background: #333;
  border-radius: 3px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
  display: inline-block;
  padding: 0 10px;
}

.player-area__btn {
  background: #DC3522;
  border-bottom: 2px solid #C31C09;
  color: #fff;
  display: block;
  font-size: 1.8rem;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.player-area__btn:hover {
  background: #C31C09;
}

.artist-works {
  margin-top: 15px;
  max-height: 400px;
  overflow-y: auto;
}

.artist-work {
  border: 3px solid #374140;
  margin-bottom: 15px;
  width: 100%;
}

.artist-work__header {
  display: table;
}

.artist-work:hover .artist-work__info {
  display: block;
}

.artist-work img {
  border-right: 3px solid #374140;
  display: table-cell;
  height: 100px;
  width: 100px;
}

.artist-work__title {
  display: table-cell;
  font-size: 1.6rem;
  padding: 0 10px;
  vertical-align: middle;
}

.artist-work__info {
  border-top: 3px solid #374140;
  display: none;
  width: 100%;
}

.artist-work__info table {
  border-spacing: 0;
  font-size: 1.6rem;
  table-layout: fixed;
  width: 100%;
}

.artist-work__info table td {
  border-bottom: 3px solid #374140;
  border-right: 3px solid #374140;
  padding: 5px;
}

.artist-work__info tr td:first-child {
  width: 100px;
}

.artist-work__info tr td:last-child {
  border-right: none;
}

.deck-wrapper {
  height: 420px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
}

#deck {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: -2px 2px 0 rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;

  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.card div {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid #374140;
  padding: 15px;
  background: #eee;
  background-position: 50% 50%;
  background-size: 95% 95%;
  background-repeat: no-repeat;
  font-size: 1.6rem;
}

.card img {
  border: 2px solid #374140;
  height: 200px;
  margin: 0 0 10px;
  width: 100%;
}

.card h3 {
  margin: 0 0 10px;
}

.card__title {
  display: inline-block;
  width: 70%;
}

.card__hpc {
  float: right;
}

/* Shared Area */
/* --------------------------*/
.shared-area {
  padding: 0 20px;
}

.shared-area__header {
  font-size: 2.2rem;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.3);
}

.shared-area__header span {
  background-color: #DC3522;
  border: 1px solid #374140;
  border-radius: 3px;
  color: #fff;
  font-size: 2.1rem;
  font-weight: normal;
  padding: 0 11px;
}

.ledger {

}

.ledger__header {
  margin-bottom: 20px;
  text-align: center;
}

.ledger__header h3 {
  font-size: 2.0rem;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.4);
}

.ledger__body {
  background: #374140;
  max-height: 445px;
  overflow: auto;
  padding: 5px;
}

.ledger__body::-webkit-scrollbar {
  width: 0 !important;
}

.ledger-entry {
  background: #fff;
  border: 1px solid #222;
  margin-bottom: 5px;
  padding: 15px;
}

.ledger-entry:last-child {
  margin-bottom: 0;
}
/* --------------------------*/


#categories {
  position: absolute;
  z-index: 1;
  top: 65px;
/*  bottom: 48px; */
  left: 60px;
  width: 380px;
  height: 35px;
  background-color: white;
  overflow: hidden;
  border: 2px solid #aaa;
  border-radius: 10px;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 500px;
  height: 100px;
  background-color: white;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#scroller ul div {
  margin: 7px 0 0 0;
}

#scroller li {
  vertical-align: middle;
  display: block;
  float: left;
  width: 100px;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: #fafafa;
  font-size: 14px;
}

#scroller li:first-child {
  border-left: 1px solid #ccc;
}

#scroller li:last-child {
}

